[Desktop Entry]
Categories=AudioVideo;Audio;Music;Player;
Comment={{comment}}
Exec={{exec}} %F
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=com.viby.app
{{#if mime_type}}
MimeType={{mime_type}}
{{/if}}
